* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#banner {
    /* padding-left: 18px; */
    background-image: url("assets/banner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    margin-bottom: 10px;
}

#banner img {
    margin: 40px 0 0 40px;
}

#banner form {
    text-align: center;
}

#search-field {
    background: rgb(244,244,244,0.8);
    border:none;
    border-radius: 8px;
    margin: 46px auto;
    height: 50px;
    width: 40%;
    color: black;
    padding-left: 20px;
    font-size: 20px;
}

#search-field:focus {
    border: grey 1px solid;
    resize: none;
    outline: none;
}
p {
    margin-left:15px;
}
#all-photo-container {
    columns: 3;
    margin-right: 40px;
}

.photo-container img {
    margin: 6px 20px;
    width: 100%;
}